<div class="time-slots-list-container">
    <h2 class="time-slots-header">{{moment-format '06-2015-01' 'dddd, MMMM Do YYYY' 'MM-YYYY-DD' }}</h2>
    <div class="time-slots-list">
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    12:00 am
                </span>
            </div>
            <div
                class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    1:00 am
                </span>
            </div>
            <div
                    class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    2:00 am
                </span>
            </div>
            <div
                    class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    3:00 am
                </span>
            </div>
            <div
                    class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    4:00 am
                </span>
            </div>
            <div
                    class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    5:00 am
                </span>
            </div>
            <div
                    class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    6:00 am
                </span>
            </div>
            <div
                    class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    7:00 am
                </span>
            </div>
            <div
                    class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    8:00 am
                </span>
            </div>
            <div
                    class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    8:00 am
                </span>
            </div>
            <div
                    class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    9:00 am
                </span>
            </div>
            <div
                    class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    10:00 am
                </span>
            </div>
            <div
                    class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    11:00 am
                </span>
            </div>
            <div
                    class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    12:00 pm
                </span>
            </div>
            <div
                    class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    1:00 pm
                </span>
            </div>
            <div
                    class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    2:00 pm
                </span>
            </div>
            <div
                    class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    3:00 pm
                </span>
            </div>
            <div
                    class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    4:00 pm
                </span>
            </div>
            <div
                    class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    5:00 pm
                </span>
            </div>
            <div
                    class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    6:00 pm
                </span>
            </div>
            <div
                    class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    7:00 pm
                </span>
            </div>
            <div
                    class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    8:00 pm
                </span>
            </div>
            <div
                    class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    9:00 pm
                </span>
            </div>
            <div
                    class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
            <div class="hour-text-wrapper">
                <span class="hour-text-pos">
                    10:00 pm
                </span>
            </div>
            <div
                    class="time-slots-list-item-block"
            />
        </div>
        <div class="time-slots-list-item">
        <div class="hour-text-wrapper">
            <span class="hour-text-pos">
                11:00 pm
            </span>
        </div>
        <div
                class="time-slots-list-item-block"
        />
    </div>
    </div>
</div>
{{yield}}