.week-view-container {
  display: flex;
  flex-direction: row;
}

.day-tile {
  display:flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: .3em;
}

.day-view-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.time-slots-list-container {
  min-width: 50%;
  margin-right: 2em;
}

.time-slots-header {
  text-align: center;
}

.time-slots-list{
  display: flex;
  flex-direction: column;
}

.time-slots-list-item {
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
}

.time-slots-list-item-block {
  margin-left: 1em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  border-radius: 0px;
  border-top: 1px solid lightgrey;
}

.hour-text-wrapper {
  text-align: right;
  min-width: 70px;
  max-width: 70px;
}

.hour-text-pos {
  top: -9px;
  left: 8px;
  position: relative;
}

.activity-tile {
  position: absolute;
  border: 2px solid #f50057;
  border-radius: .3em;
  width: 43.5%;
  background: white;
  text-align: center;
}

.first-tile {
  top: 575px;
  height: 50px;
  left: 94px;
  border: 1px solid black;
  border-radius: .3em;
}

.first-tile:hover {
  cursor: pointer;
}


.activity-details-container {
  max-width: 50%;
}

.activity-card {
  min-width: 45vw;
  border: 1px solid;
  border-radius: .3em;
}

.activity-card-title {
  font-size: 30px;
  text-align: center;
}

.activity-card-meta-data {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.activity-card-body {
  font-size: 24px;
}

.space-bottom {
  margin-bottom: 12px;
}
